background yes
use_xft yes
xftfont monospace:size=9
xftalpha 1
update_interval 1.0
total_run_times 0
own_window yes
own_window_transparent yes
own_window_type override
#own_window_hints undecorated,below,sticky,skip_taskbar,skip_pager
own_window_colour black
double_buffer yes
minimum_size 1 1
maximum_width 200
draw_shades no
draw_outline no
draw_borders yes
draw_graph_borders no
default_color gray
default_shade_color 000000
default_outline_color d9d7d6
alignment ml
gap_x 12
gap_y 12
no_buffers yes
uppercase no
cpu_avg_samples 2
override_utf8_locale no
color1 red
color2 gray
##############################################
#  Output
##############################################




TEXT
${font terminus:size=24}${color tan}$alignc${time %H:%M:%S}
${color white}${font terminus:size=11}$alignc${time %a,}${time %e %B %G}
${font terminus:size=9}${color green}CPU1: ${color white}$alignr${cpu cpu0}%
${color green}${cpubar cpu0} ${color green}
CPU2: ${color white}$alignr${cpu cpu1}%
${color green}${cpubar cpu1} ${color green}
RAM: ${color white}$alignr$mem/$memmax 
${color green}$membar ${color green}

${font terminus:bold:size=11}${color tan}SISTEMA ${color white}${hr 2}${color white}
${font terminus:normal:size=9}$sysname $kernel $alignr $machine
Host:$alignr marcphemt@archlinux
Uptime:$alignr$uptime

${font terminus:bold:size=11}${color tan}CONNESSIONI ${color white}${hr 2}
${font terminus:normal:size=9}${color white}IP eth $alignr ${addr enp2s0}
#${font ubuntu:normal:size=9}IP wLan $alignr ${addr wlan0}

${font terminus:bold:size=11}${color tan}CPU PROCESSI ${color white}${hr 2} ${color white}
${font terminus:normal:size=9}${color red}PROCESSI ATTIVI${alignr}${running_threads} ${color white}
${top name 1}${alignr}${top cpu 1} %
${top name 2}${alignr}${top cpu 2} %
${top name 3}${alignr}${top cpu 3} %
${top name 4}${alignr}${top cpu 4} %
${top name 5}${alignr}${top cpu 5} %
${top name 6}${alignr}${top cpu 6} %
${top name 7}${alignr}${top cpu 7} %
${top name 8}${alignr}${top cpu 8} %
${top name 9}${alignr}${top cpu 9} %
${top name 10}${alignr}${top cpu 10} %
${hr 1}
${font terminus:bold:size=11}${color tan}    COMBINAZIONI 
${font terminus:size=9}${color red}Win+spazio$alignr${color red} Main Menu
${color green}Win+t$alignr${color white} Terminal
${color green}Win+e$alignr${color white} Medit
${color green}Win+l$alignr${color white} Lock
${color lightgreen}Home$alignr${color gray} Chromium
${color lightgreen}Win+Home$alignr${color gray} FireFox
${color lightgreen}PC$alignr${color gray} Thunar
${color lightgreen}Win+PC$alignr${color gray} sudo Thunar
${color lightgreen}Music$alignr${color gray} Clementine
${color lightgreen}Mail$alignr${color gray} IRC Chat
${color lightgreen}X$alignr${color gray} Force Quit
