adobe
archbang
cache
gnupg
ibus
iceauthority
links
local
lxsession
miro
mozilla
mtabfuseiso
pulse
subversion
tdfsb
themes
thumbnails
trolltech
trolltechconf
user
xauthority
xdefaults
xinitrc
xsession
zcompdump
macromedia
